<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>
        <input type="text" id="inputTarefa" placeholder="Digite a tarefa">
        <button id="addTaskButton">Adicionar</button>
        <div>
    <button id="filtrarTodas">Todas</button>
    <button id="filtrarPendentes">Pendentes</button>
    <button id="filtrarConcluidas">Concluídas</button>
</div>
<ul id="listaTarefas"></ul>
        <ul id="itemLista"></ul>
        
    </div>
    <script src="../logic/logica.js"></script>
</body>
</html>